<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="theme_bubble" />
  <!-- Page Title -->
  <title>
    Hello World - {% block title %}{% endblock %}
  </title>

  <!-- Favicon Icon -->
  <link href="{{url_for('app', path='/static/assets/img/favicon.png') }}" rel="icon">
  
  <!-- Plugins css -->
  <link href="{{url_for('app', path='/static/assets/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('app', path='/static/assets/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('app', path='/static/assets/css/material-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('app', path='/static/assets/css/jqvmap.min.css')}}" rel="stylesheet">


  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

  <link id="mode-option" href="{{url_for('app', path='/static/assets/css/style.css')}}" rel="stylesheet">



</head>

<body>
  <div class="yoo-height-b60 yoo-height-lg-b60"></div>

  {% include 'includes/navigation.html' %}

  {% include 'includes/sidebar.html' %}

  {% block content %}{% endblock content %}

  <!-- Scripts -->
  <script src="/app/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

  <script src="/app/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/app/static/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/app/static/assets/js/Chart.min.js"></script>
  <script src="/app/static/assets/js/chartjs.light.js"></script>

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

  <script src="/app/static/assets/js/smooth-scrollbar.js"></script>
  <script src="/app/static/assets/js/main.js"></script>

</body>
</html>
